* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Minecraft";
    src: url(../fonts/Minecraft.ttf);
}

@font-face {
    font-family: "omori";
    src: url(../fonts/omori.ttf);
}

body {
    background-image: url(../img/Fondo_Mivida.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#libro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
  }
  
  #doble-pagina {
    display: flex;
    border: 2px solid #333;
    background: #faf0e6;
    box-shadow: 0 0 10px #00000033;
    background-image: url("../img/book.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .pagina {
    width: 840px;
    height: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;


    position: relative;
    /* width: 100%; */
    /* height: 100%; */
  }
  
  .pagina img {
    width: 281px;
    height: 342px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #444;
    /* transition: transform 0.2s; */
  }

  .foto {
    position: absolute;
    transition: transform 0.3s ease;
    transform-origin: center center;
    box-shadow: 4px 4px 20px #222;
  }
  
  #modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .oculto {
    display: none !important;
  }
  
  .tarjeta-3d {
    width: 732px;
    height: 890px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
  }
  
  .tarjeta-3d .cara {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    border: 2.5px solid #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
  }
  
  .tarjeta-3d .frontal {
    z-index: 2;
    background: white;
  }
  
  .tarjeta-3d .trasera {
    transform: rotateY(180deg);
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
    /* overflow: scroll; */
    overflow-y: auto;
    overscroll-behavior: contain;
    scrollbar-color: rgb(179, 179, 179) #ffffff00;
  }

  .trasera button, .trasera a {
    width: 200px;
    height: 34px;

    font-size: 1.4rem;
    font-weight: 600;
    font-family: "omori";
  }
  
  .rotado {
    transform: rotateY(180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  #imagen-expandida {
    width: 100%;
    height: 100%;
  }

  #mensaje-detras {
    font-size: 1.9rem;
    font-family: "omori";
  }

  .pageBtm {
    width: 60px;
    height: 500px;
    font-size: 2rem;
  }