* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Minecraft";
    src: url(../fonts/Minecraft.ttf);
}

body {
    background-image: url(../img/cult-of-the-lamb-zqi55xq4soncfj3j.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.sprite-container {
    width: 600px;
    height: 700px;

    position: absolute;
    /* position: relative; */
    top: 32%;
    left: 20%;
}

.sprite-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btnStart {
    position: absolute;
    bottom: 40px;
    right: 100px;

    width: 310px;
    height: 100px;

    display: flex;
    justify-content: end;
    padding-right: 20px;
    text-decoration: none;

    background-color: blueviolet;
    border: 2px solid #fff;
    
    &:hover {
        background-color: rgb(105, 33, 173);
    }
    
    &:active {
        background-color: rgb(89, 74, 104);
    }
}

.btnStart button {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
}

.btnStart span {
    font-family: "Minecraft";
    font-size: 2rem;
    color: #fff;
}